[submodule "extjs"]
	path = extjs
	url = git://github.com/steelThread/ExtJs-ToggleSlide.git
[submodule "compass-extension"]
	path = compass-extension
	url = git@github.com:tdreyno/compass-iphone-style-checkboxes.git
[submodule "extensions/iphone-style-checkboxes"]
	path = extensions/iphone-style-checkboxes
	url = git@github.com:tdreyno/compass-iphone-style-checkboxes.git
[submodule "libs/jquery.actual"]
	path = libs/jquery.actual
	url = git://github.com/dreamerslab/jquery.actual.git
