.iPhoneCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }
  .iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px; }
.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/slider_left.png) no-repeat;
  z-index: 2;
  padding-left: 4px; }
  .iPhoneCheckHandle .right {
    height: 100%;
    width: 100%;
    padding-right: 4px;
    background: url(images/slider_right.png) no-repeat top right;
    z-index: 2; }
  .iPhoneCheckHandle .center {
    height: 100%;
    width: 100%;
    background: url(images/slider_center.png);
    z-index: 2; }
label.iPhoneCheckLabelOn, label.iPhoneCheckLabelOff {
  white-space: nowrap;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  height: 22px;
  position: absolute;
  width: auto;
  top: 0;
  overflow: hidden; }
  label.iPhoneCheckLabelOn {
    color: #fff;
    background: url(images/on.png) no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding: 5px 0 0 8px; 
    z-index: 1; }
  label.iPhoneCheckLabelOff {
    color: #8B8B8B;
    background: url(images/off.png) no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0;
    padding: 5px 8px 0 0; }
  }
  